{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <h5>Hello, {{name}}. These are all the stock you own.</h5>
    <table>
        <thead>
            <tr>
                <th>Stock symbol</th>
                <th>Shares</th>
                <th>Current Price per stock</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data%}
            <tr>
                <td>{{item["symbol"].upper()}}</td>
                <td>{{item["share"]}}</td>
                <td>{{item["price"] | usd}}</td>
                <td>{{item["total"] | usd}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{balance | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{value | usd}}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
